* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body styling */
body {
    background-color:darkcyan;
}

/* Header styling */
header {
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightskyblue;
    color: darkblue;
    text-align: center;
}

header h3 {
    display: inline-block;
    font-size: 24px;
}

.container p {
    text-align: center;
    font-weight: 500;
}

#question, #answers {
    font-size: 16px;
    font-weight: bold;
}

/* Highlight answer in white on hover */
#answer1:hover, 
#answer2:hover, 
#answer3:hover, 
#answer4:hover 
{
    background-color: white;
}

/* Styling for the buttons */
#start-quiz-btn, 
#submit-btn,
#clear-scores-btn,
#go-back-btn
{
    width: 150px;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    background-color: tomato;
    border-radius: 10px;     /* Rounds the corners of the button */
}

#submit-btn {
    width: 90px;
    height: 45px;
    padding: 10px;
}

#btnColumn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px, 10px;
}

#clear-scores-btn,
#go-back-btn 
{
    width: 120px;
    height: 40px;
    padding: 5px;
}

#message {
    font-size: 16px;
    font-weight: bold;
    color: white
}

.big-message {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
