* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body styling */
body {
    background-color:darkcyan;
}

/* Header styling */
header {
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightskyblue;
    color: darkblue;
}

header h3 {
    display: inline-block;
    font-size: 24px;
}

.container p {
    text-align: center;
    font-weight: 500;
}

/* Styling for the buttons */
#start-quiz {
    width: 150px;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    background-color: tomato;
    border-radius: 10px;     /* Rounds the corners of the button */
}

#btnColumn {
    display: flex;
    align-items: center;
    justify-content: center;
}